parameters:
    level: 2
    paths: [src]
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - "#^Call to an undefined method Reflector\\:\\:getAttributes\\(\\).|Parameter \\$attribute of anonymous function has invalid typehint type ReflectionAttribute.|Call to method newInstance\\(\\) on an unknown class ReflectionAttribute.$#"
