includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 2
    paths: [src]
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - "#^Construct empty\\(\\) is not allowed. Use more strict comparison.|Call to an undefined method Reflector\\:\\:getAttributes\\(\\).$#"
